<div id='full'>
    <div id='title'>
        <br>
        <h1 class="glow">Reconstructing Perceived Images from Human Brain Activities</h1>
    </div>
    <div class='container-fluid mt-5'> 
        <div class='row'>
            <div class='col-md-4 align-self-center'>
                <div class='row pl-5'>
                    <div class='p-4 mt-5 ml-5' id='left'>
                        <div class="box">
                            <div class="content">
                                <h2>Get Started !</h2>
                                <h5>Dive deep into the application of Machine Learning & Artificial Intelligence</h5>
                                <p>This project uses many technologies.</p>                               
                            </div>
                        </div>

                    </div>
                </div>
                <div class='row p-2 offset-4 col-md mt-4'>
                    <a href="#" (click)='renderSamaritan()'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Let's Begin
                    </a>
                    <!-- <button type="button" class="btn btn-lg btn-outline-secondary" (click)='renderSamaritan()'>Let's Begin</button> -->
                </div>
            </div>
            <div class='col-md-5 offset-1 p-2'>
                <video muted autoplay loop height="450px" >
                    <source src='../assets/brain2.mp4'>
                </video>
            </div>
        </div>
    </div>    
</div>