<footer class='col-md-12 mt-5'>
    <div class='row'>
        <div class='col-md-3'>
            <img class='img-fluid' src='../../assets/college_logo.png'>
        </div>
        <h5 class='col-md-1 my-auto ml-2'>Developed by</h5>
        <div class='col-md-5 mx-auto my-auto text-center' >
            <ul class='developers'>
                <li class='dev-list'>Piyush Chouhan M (211417104183)</li>
                <li class='dev-list'>Kedar R (211417104117)</li>
                <li class='dev-list'>Mohanavel R (211417104149)</li>
            </ul>
        </div>
        <div class='col-md-2  my-auto' >
            <a href='https://www.youtube.com/c/spammertech'><i class='fa fa-3x fa-youtube icons'></i></a>
            <a href='https://www.linkedin.com/in/piyush-chouhan-72b747155/'><i class='fa fa-3x fa-linkedin icons'></i></a>
            <a href='mailto:piyushchohan48@gmail.com?subject=Lets%20Talk'><i class='fa fa-3x fa-envelope icons'></i></a>
        </div>
    </div>
    <div class='text-center'>
        <p>&copy; All rights reserved</p>
    </div>
    <span class='row'></span>
</footer>
