<nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="trainer">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="plots">Results</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr style='background-color:aliceblue; margin-top: 1px;'>
<div class='container-fluid'>
    <div class='row mt-3' id='resources'>
        <div class='col-md-3'>
            <div class="card bg-dark text-white text-center">
                <img src="https://qph.fs.quoracdn.net/main-qimg-5541766a9055cdd90237a683b52ea8b4" class='card-img-top' alt='PPT Icon'/>
                <div class="card-img-overlay">
                    <h5 class="card-title">Zeroth Review PPT</h5>
                    <p class='card-text'>-----Contents-----</p>
                    <ul class='card-text text-left'>
                        <li>Abstract</li>
                        <li>Architecture</li>
                        <li>Advantages</li>
                        <li>Outcomes</li>
                    </ul>
                    <p class="card-text">Available for download <span class="badge rounded-pill bg-success">Ready</span></p>
                    <a href="https://drive.google.com/file/d/1o-jq7iXaUH7Sb8hzQwIXpROQCuA6NmHL/view?usp=sharing" class="btn btn-primary">Download <i class='fa fa-1x fa-download'></i></a>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="card bg-dark text-white text-center">
                <img src="https://qph.fs.quoracdn.net/main-qimg-5541766a9055cdd90237a683b52ea8b4" class='card-img-top' alt='PPT Icon'/>
                <div class="card-img-overlay">
                    <h5 class="card-title">First Review PPT</h5>
                    <p class='card-text'>-----Contents-----</p>
                    <ul class='card-text text-left'>
                        <li>Abstract</li>
                        <li>Architecture</li>
                        <li>Technology Stack</li>
                        <li>UML interaction diagrams</li>
                    </ul>
                    <p class="card-text">Available for download <span class="badge rounded-pill bg-success">Ready</span></p>
                    <a href="https://drive.google.com/file/d/1N8kA3aIL4-rlOSG4fxVcx4Qr9czEeIEe/view?usp=sharing" class="btn btn-primary">Download <i class='fa fa-1x fa-download'></i></a>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="card bg-dark text-white text-center">
                <img src="https://purepng.com/public/uploads/large/purepng.com-video-icon-galaxy-s6symbolsiconssamsungapp-iconsgalaxy-s6-icons-721522597480axbjz.png" class='card-img-top' alt='Video Icon'/>
                <div class="card-img-overlay">
                    <h5 class="card-title">Concept Video</h5>
                    <p class='card-text'>-----Contents-----</p>
                    <ul class='card-text text-left'>
                        <li>A video that shows the concept of creating dataset for the algorithm</li>
                        <li>Video contains Image processing</li>
                        <li>Tells about the 3D brain voxel mappings and steps to convert into notable readings</li>
                    </ul>
                    <p class="card-text">Available for download <span class="badge rounded-pill bg-success">Ready</span></p>
                    <a href="https://drive.google.com/file/d/1hod_J5Ov5IRG7bQQJkkDxSoj5Y0tIOji/view?usp=sharing" class="btn btn-primary">Download <i class='fa fa-1x fa-download'></i></a>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="card bg-dark text-white text-center">
                <img src="https://image.flaticon.com/icons/png/512/1317/1317755.png" class='card-img-top' alt='Project Report Icon'/>
                <div class="card-img-overlay">
                    <h5 class="card-title">Project Report </h5>
                    <p class='card-text'>-----Contents-----</p>
                    <p class="card-text">Available for download <span class="badge rounded-pill bg-success">Ready</span></p>
                    <a href="https://drive.google.com/file/d/1EQ6r4MuTBy78SlF45XRYfUgGXHrYVYSV/view?usp=sharing" class="btn btn-primary ">Download <i class='fa fa-1x fa-download'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>